{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5 ">
            <section class="card card-body ">
                <h1>Tareas</h1>
                    <ul>
                        {% for tarea in tareas %}
                        <li>
                            <a href="{% url 'info_tarea' tarea.id %}">
                                {% if tarea.Importante %}
                                <strong> {{tarea.Nombre}}</strong>
                                {% else %}
                                    {{tarea.Nombre}}
                                {% endif %}
    
                                <p>{{tarea.Descripción}}</p>
                                <p>{{tarea.user.username}}</p>
                                <p>{{tarea.Fecha_completada|date:'M j Y:i'}}</p>
                            </a>
                        </li>
                        {% endfor %}
                     </ul>
            </section>
        </section>
    </div>
</main>
{% endblock %}